<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="shortcut icon" href="static/img/Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Настройки</title>
</head>
<body>
    <a href="/" class="to-home"><img src="{{url_for('static', filename='img/Logo.png')}}" alt="Логотип" class="logo-settings"></a>
    <a href="/"><img src="static/img/Home.png" class="settings-logo" title="Настройки"></a>
    <p class="settings-name">Настройки поиска</p>
    <hr class="underline-settings">
    <div class="settings-block"></div>
    <form action="/settings" class="form-settings" method="post">
        <p class="first-form-settings">
        <b>Ссылка на сайт, в котором будет проводиться поиск</b></p>
        <p><input name="text"  type="text" value="{{ url_now }}" class="settings-input" placeholder="Введите ссылку"></p>
        {% if error_message %}
            <p class="error-settings"> {{ error_message }}</p>
        {% endif %}
        <p class="settings-load">❗Изменение ссылки на новую может занять ОГРОМНОЕ количество времени❗</p>

        <p class="text-settings"><b>Список ссылок-исключений</b></p>
        <div id="minuses" class="minuses">
            {% for minus in robots_minus %}
                <div class="settings_minus">
                    <input name="minus{{ minus[0] }}" placeholder='Введите ссылку-исключение' type="text" value="{{ minus[1] }}" class="settings-input" >
                    <a class="button-remove">
                        <img src="static/img/Minus.png" class="image-minus">
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="settings-add-minus" id="add-minus">
            <img src="static/img/Plus.png" class="image-plus">
        </a>

        <p class="text-settings"><b>Список дополнительных ссылок</b></p>
        <div id="pluses" class="minuses">
            {% for plus in robots_plus %}
                <div class="settings_plus">
                    <input name="plus{{ plus[0] }}" placeholder='Введите дополнительную ссылку' type="text" value="{{ plus[1] }}" class="settings-input" >
                    <a class="button-remove">
                        <img src="static/img/Minus.png" class="image-minus">
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="settings-add-minus" id="add-plus">
            <img src="static/img/Plus.png" class="image-plus">
        </a>
        <p class="load-text-settings">Идёт анализ сайта...</p>
        <input class="btn-settings" type="submit" onclick="process()" value="Сохранить">
        <a href="/" class="btn-cancel">Отмена</a>
    </form>
    <script src="/static/js/jquery-3.6.0.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>